{% if storage_workers.is_empty() %}

<div class="card-wide mdl-card mdl-shadow--2dp card" id="info-card">
  <div class="mdl-card__title">
    <h3 class="mdl-card__title-text">No storage workers yet</h3>
  </div>
  <div class="mdl-card__supporting-text">Storage workers are necessary for using Pentaract</div>

  <div class="mdl-card__actions mdl-card--border">
    <button class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" hx-get="/storage_workers/create"
      hx-trigger="click" hx-target="#info-card" hx-swap="outerHTML transition:true">
      Register storage worker
    </button>
  </div>
</div>

{% else %}
<div id="storage-workers-table">
  <button class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored"
    hx-get="/storage_workers/create" hx-trigger="click" hx-target="#storage-workers-table"
    hx-swap="outerHTML transition:true">
    <i class="material-icons">add</i>
  </button>

  <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
    <thead>
      <tr>
        <th class="mdl-data-table__cell--non-numeric">Name</th>
        <th class="mdl-data-table__cell--non-numeric">Token</th>
        <th class="mdl-data-table__cell--non-numeric">Storage</th>
      </tr>
    </thead>
    <tbody>

      {% for storage_worker in storage_workers %}
      <tr>
        <td class="mdl-data-table__cell--non-numeric">{{ storage_worker.name }}</td>
        <td class="mdl-data-table__cell--non-numeric">{{ storage_worker.token }}</td>
        <td class="mdl-data-table__cell--non-numeric">
          {% match storage_worker.storage_id %}{% when Some with (val) %}{{ val }}{% when None %}-{% endmatch %}
        </td>
      </tr>
      {% endfor %}

    </tbody>
  </table>
</div>

{% endif %}
