<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>{% block title %}{% endblock %} - Pentaract</title>

  <!-- Material Design Lite Icons and Fonts -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.teal-deep_orange.min.css" />
  <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>

  <style>
    .title-link {
      text-decoration: none;
      color: inherit;
    }
  </style>

  {% block head %} {% endblock %}
</head>

<body>
  {% block content %} {% endblock %}
</body>

</html>
