{% extends "base.html" %}

{% block base_head %}
<style>
  .title-link {
    text-decoration: none;
    color: inherit;
  }

  .page-content {
    margin-top: 5vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
</style>

{% block head %}{% endblock %}

{% endblock %}

{% block base_content %}

<div class="mdl-layout mdl-js-layout mdl-layout--fixed-drawer mdl-layout--fixed-header">

  <header class="mdl-layout__header">
    <div class="mdl-layout__header-row">
      <span class="mdl-layout-title mdl-layout--small-screen-only">
        <a class="title-link" href="#!">Pentaract</a>
      </span>

      <div class="mdl-layout-spacer"></div>

      <label class="mdl-button mdl-js-button mdl-button--icon">
        <a href="/auth/logout" class="title-link">
          <i class="material-icons">logout</i>
        </a>
      </label>
    </div>
  </header>

  <div class="mdl-layout__drawer">
    <span class="mdl-layout-title">
      <a class="title-link" href="#!">Pentaract</a>
    </span>

    <nav class="mdl-navigation">
      <a class="mdl-navigation__link" href="/storage_workers">
        Storage workers
      </a>
    </nav>
  </div>

  <main class="mdl-layout__content">
    <div class="page-content">

      {% block content %} {% endblock %}

    </div>
  </main>

</div>

{% endblock %}
