<div id="form-wrapper">
  <button class="mdl-button mdl-js-button mdl-js-ripple-effect" hx-get="/storages/list" hx-trigger="click"
    hx-target="#form-wrapper" hx-swap="outerHTML transition:true">
    Back
  </button>

  <h1>Register storage</h1>
  <div>
    First, you need to create a private telegram channel and obtain it's id somehow.<br />
    <strong>Remember that both name and chat id must be unique across your storages since they are used to identify
      them</strong>
  </div>

  <form action="/storages" method="POST" class="form" hx-post="/storages" hx-target="#form-wrapper"
    hx-swap="outerHTML transition:true">

    {% match name_err %}
    {% when Some with (error_msg) %}
    <div class="mdl-textfield mdl-js-textfield is-invalid">
      <input class="mdl-textfield__input" name="name" id="name" required>
      <label class="mdl-textfield__label" for="name">Name</label>
      <span class="mdl-textfield__error">{{ error_msg }}</span>
    </div>

    {% when None %}
    <div class="mdl-textfield mdl-js-textfield">
      <input class="mdl-textfield__input" name="name" id="name" required>
      <label class="mdl-textfield__label" for="name">Name</label>
    </div>
    {% endmatch %}

    <div class="mdl-textfield mdl-js-textfield">
      <input class="mdl-textfield__input" name="chat_id" id="chat_id" type="number" required>
      <label class="mdl-textfield__label" for="chat_id">Chat id</label>
    </div>

    <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored">
      Register
    </button>

  </form>
</div>
