{% extends "logged_in_base.jinja" %}

{% block title %}Storage {{ name }}{% endblock %}

{% block head %}
<style>
  .list-control {
    width: 360px;
    max-width: 90vw;
  }

  .list-radio {
    display: inline;
  }
</style>
{% endblock %}

{% block content %}

{% include "files/list.jinja" %}

{% endblock %}
