{% extends "logged_in_base.jinja" %}

{% block title %}Storages{% endblock %}

{% block head %}
<style>
  .card-wide.mdl-card.card {
    margin: 5vw auto;
    min-width: 70%;
  }

  .form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2vw;
  }
</style>
{% endblock %}

{% block content %}

{% include "storages/list.jinja" %}

{% endblock %}
