{% if storages.is_empty() %}

<div class="demo-card-wide mdl-card mdl-shadow--2dp card" id="info-card">
  <div class="mdl-card__title">
    <h3 class="mdl-card__title-text">No storages yet</h3>
  </div>
  <div class="mdl-card__supporting-text">Storages are necessary for using Pentaract</div>

  <div class="mdl-card__actions mdl-card--border">
    <button class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" hx-get="/storages/create"
      hx-trigger="click" hx-target="#info-card" hx-swap="outerHTML transition:true">
      Register storage
    </button>
  </div>
</div>

{% else %}

<div id="storages-table">
  <button class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored"
    hx-get="/storages/create" hx-trigger="click" hx-target="#storages-table" hx-swap="outerHTML transition:true">
    <i class="material-icons">add</i>
  </button>

  {% for storage in storages %}

  <a class="demo-card-wide mdl-card mdl-shadow--2dp card title-link" href="/storages/{{ storage.id }}/files">
    <div class="mdl-card__title">
      <h3 class="mdl-card__title-text">{{ storage.name }}</h3>
    </div>
    <div class="mdl-card__supporting-text">{{ storage.chat_id }}</div>
  </a>

  {% endfor %}

</div>

{% endif %}
