<div id="storage">
  {% include "files/upload_button.jinja" %}

  <ul class="list-control mdl-list">
    {% for file in fs_layer %}

    <li class="mdl-list__item list-item">
      {% if file.is_file %}
        {% include "files/list_item.jinja" %}
      {% else %}
        <a href="/storages/{{ id }}/files/tree/{{ file.path }}" class="title-link">
          {% include "files/list_item.jinja" %}
        </a>
      {% endif %}

      {% if file.name != ".." %}
        <span class="mdl-list__item-secondary-content">
          <button id="menu-{{ file.name }}" class="mdl-button mdl-js-button mdl-button--icon">
            <i class="material-icons mdl-list__item-icon">
              more_vert
            </i>
          </button>
        </span>

        <ul 
          class="mdl-menu mdl-js-menu mdl-js-ripple-effect"
          for="menu-{{ file.name }}"
        >
          <li class="mdl-menu__item">Info</li>

          {% if file.is_file %}
            <li class="mdl-menu__item mdl-menu__item--full-bleed-divider">
              <a href="/storages/{{ id }}/files/download/{{ file.path }}" class="title-link">
                Download
              </a>
            </li>
          {% else %}
            <li disabled class="mdl-menu__item mdl-menu__item--full-bleed-divider">Download</li>
          {% endif %}

          <li 
            class="mdl-menu__item"
            hx-delete="/storages/{{ id }}/files/{{ file.path }}"
            hx-trigger="click" 
            hx-target="#storage" 
            hx-swap="outerHTML transition:true"
          >
            Delete
          </li>
        </ul>
      {% endif %}
    </li>

    {% endfor %}
  </ul>
</div>
