<ul class="demo-list-control mdl-list">
  {% for file in fs_layer %}

  <li class="mdl-list__item">
    <a href="/storages/{{ id }}/files/{{ file.path }}" class="title-link">
      <span class="mdl-list__item-primary-content">
        <label class="mdl-button mdl-button--icon">
          <i class="material-icons mdl-list__item-icon">
            {% if file.is_file %}
            description
            {% else %}
            folder_open
            {% endif %}
          </i>
        </label>

        {{ file.name }}
      </span>
    </a>
  </li>

  {% endfor %}
</ul>
