<span class="mdl-list__item-primary-content">
  <label class="mdl-button mdl-button--icon">
    <i class="material-icons mdl-list__item-icon">
      {% if file.is_file %}
      description
      {% else %}
      folder_open
      {% endif %}
    </i>
  </label>

  {{ file.name }}
</span>
