<button id="menu-create" class="mdl-button mdl-js-button">Create</button>

{# TODO: expand width of items so they will react on click #}
<ul class="mdl-menu mdl-menu--bottom-left mdl-js-menu mdl-js-ripple-effect" for="menu-create">
  <li class="mdl-menu__item">
    <form 
      hx-encoding="multipart/form-data"
      hx-post="/storages/{{ id }}/upload?path={{ path }}"
      hx-trigger="change from:#upload-file-button"
      hx-target="#storage"
      hx-swap="outerHTML transition:true"
    >
      <label>
        <input id="upload-file-button" name="file" class="upload-file-button" type="file"/>
        Upload file
      </label>
    </form>
  </li>

  <li class="mdl-menu__item">
    <span 
      hx-get="/storages/{{ id }}/upload_form" 
      hx-trigger="click" 
      hx-target="#storage" 
      hx-swap="outerHTML transition:true"
    >
      Upload file to path
    </span>
  </li>
</ul>
