{% block head %}
<style>
  .upload-form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
</style>
{% endblock %}

<div id="form-wrapper">
  <button class="mdl-button mdl-js-button mdl-js-ripple-effect" hx-get="/storages/list" hx-trigger="click"
    hx-target="#form-wrapper" hx-swap="outerHTML transition:true">
    Back
  </button>

  <h1>Upload file</h1>
  <form class="form upload-form" hx-encoding='multipart/form-data' hx-post="/storages/{{ storage_id }}/files/upload_to"
    hx-target="#form-wrapper" hx-swap="outerHTML transition:true">

    {% match path_err %}
    {% when Some with (error_msg) %}
    <div class="mdl-textfield mdl-js-textfield is-invalid">
      <input class="mdl-textfield__input" name="path" id="path" required>
      <label class="mdl-textfield__label" for="path">Path</label>
      <span class="mdl-textfield__error">{{ error_msg }}</span>
    </div>

    {% when None %}
    <div class="mdl-textfield mdl-js-textfield">
      <input class="mdl-textfield__input" name="path" id="path" required>
      <label class="mdl-textfield__label" for="path">Path</label>
    </div>
    {% endmatch %}

    {% match file_err %}
    {% when Some with (error_msg) %}
    <div class="mdl-textfield mdl-js-textfield is-invalid">
      <input class="mdl-textfield__input" name="file" id="file" type="file" required>
      <label class="mdl-textfield__label" for="file">File</label>
      <span class="mdl-textfield__error">{{ error_msg }}</span>
    </div>

    {% when None %}
    <div class="mdl-textfield mdl-js-textfield">
      <input class="mdl-textfield__input" name="file" id="file" type="file" required>
      <label class="mdl-textfield__label" for="file">File</label>
    </div>
    {% endmatch %}

    <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored">
      Register
    </button>

  </form>
</div>
